// *************************************
//
//   Utilities
//   -> Single purpose declarations
//
// *************************************

// -------------------------------------
// Micro utilities
// -------------------------------------

.u-cf {
  @include clearfix;
}

.u-hide {
  display: none;
}

// -------------------------------------
// Layout
// -------------------------------------

.u-layoutBlock {
  display: block;
}

// -------------------------------------
// Grid
// -------------------------------------

.u-gridContainer {
  @include outer-container;
  padding-left: rem(25px);
  padding-right: rem(25px);
}

.u-gridRow {
  @include row();
  padding-bottom : $l-whitespace;
  padding-top    : $l-whitespace;
}

.u-gridColumn3 {
	@include span-columns(3);
	@media screen and (max-width: 575px) {
		@include span-columns(12);
	}
}
.u-gridColumn6 {
	@include span-columns(6);

	@media screen and (max-width: 575px) {
		@include span-columns(12);
	}
}
.u-gridColumn4 {
	@include span-columns(4);

	@media screen and (max-width: 575px) {
		@include span-columns(12);
	}

}

.u-gridColumn8 {
	@include span-columns(8);
	@media screen and (max-width: 575px) {
		@include span-columns(12);
	}
}
.u-gridColumn9 {
	@include span-columns(9);
	@media screen and (max-width: 575px) {
		@include span-columns(12);
	}
}

// -------------------------------------
// Text //
// -------------------------------------

.u-textCenter {
  text-align: center;
}

.u-textShout {
  text-transform: uppercase;
}

.u-textLead {
  font-size: 125%;
}

// -------------------------------------
// Objects
// -------------------------------------

.u-objLeft {
  float: left;
}

.u-objRight {
  float: right;
}
// Wordpress specific

.alignleft {
	float: left;
}

.alignright {
	float: right;

}
.alignnone {
	float: none;
}
