.Footer {
	background-color: $c-blue;
	border-top: 3px solid darken($c-blue, 20%);
}

.Footer-inner {
	h4, p {
		color: white;
	}
}

.Footer-inner {

}

.Footer-inner .widget {
	@include span-columns(6);
}

.Footer-socket {
	background-color: $c-darkblue;
	color: white;
}
