// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
	background-image: url('../img/bg-header.png');
	background-repeat: repeat-x;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------
.Header-image {
	position: relative;
	box-shadow: $l-boxShadow;
	overflow: hidden;
}

.Header-image img {
	width: 100%;
	display: block;
}

.Header-slogan {
	position: absolute;
	z-index: 9999;
	width: 100%;
	bottom: 0px;
	text-align: center;
	padding: 20px;
	font-size: rem(38px);
	color: $c-white;
	font-family: $navFont;
	background-color: rgba(31,105,170,0.7);
	@media screen and (max-width: 574px) {
		font-size: rem(20px);
	}
	@media screen and (max-width: 566px){
		position: static;
	}
	@media screen and (max-width: 884px) {
		font-size: rem(22px);
	}
}


.Header-button {
	@include linear-gradient(to bottom, $c-green, darken($c-green, 10%));
	background-color: $c-green;
	border-radius: 6px;
	padding: rem(15px);
	color: white;
	&:hover {
		text-decoration: none;
		@include linear-gradient(to bottom, darken($c-green,10%), darken($c-green, 20%));
		backcground-color: darken($c-green, 20%);
	}

	@media screen and (max-width: 574px) {
		font-size: rem(20px);
		padding: rem(5px); 
	}
	@media screen and (max-width: 884px) {
		font-size: rem(22px);
	}
}

