// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  border-top: 3px solid darken($c-blue, 20%);
  text-align: center;
  background-color: $c-blue;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-listItem.is-active {
	background-color: darken($c-blue, 20%);
	border-radius: 6px;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //
.Navigation-wrap {
	background-color: $c-blue;
}

.Navigation-listItem {
  display: inline;
  margin: 0 0.6em;
  font-size: rem(24px);
  padding: 0.5em;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
	background-color: darken($c-blue, 20%);
	border-radius: 6px;
	
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  font-family: $navFont;
  color: $c-white;
  line-height: rem(62px);
  &:hover {
	  text-decoration: none;
  }
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}


