
// *************************************
//
// Topbar
// -> Main site header
//
// *************************************

.Topbar {
  background-color: #ebebeb;
  color: white;

}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------
.Topbar-logo {	
	float: left;
}
.Topbar-logo img {
	width: 250px; //test
}
.Topbar-contact {
	margin-top: rem(16px);
	float: right;
	font-family: $navFont;
}

.Topbar-contact a {
	font-size: rem(26px);
	color: #323232;
	fill: green;
	line-height: 5rem;
	&:hover {
		text-decoration: none;
		color: #ae191e;
	}
}


